---
layout: site
---
<div class="title-block">
  <header>
    <h1>{{ site.title }}</h1>
    <p>Web Developer, Programmer, Person</p>
    <ul class="social-links">
      <li><a target="_blank" rel="nooperer" href="https://github.com/themetar"></a></li>
      <li><a target="_blank" rel="nooperer" href="https://www.linkedin.com/in/dimitar-apostolovski"></a></li>
      <li><a target="_blank" rel="nooperer" href="https://twitter.com/themetar"></a></li>
    </ul>
  </header>
</div>
<section id="portfolio" class="projects-list container">
  <header>
    <h1 class="section-title">Projects</h1>
  </header>
  {% assign sorted-projects = site.highlighted_projects | reverse %}
  {% for project in sorted-projects %}
  <article class="project">
    <h1><a target="_blank" rel="nooperer" href="{{ project.link }}">{{project.title}}</a></h1>
    <div class="info">
      {{ project.content }}
      <hr>
      <ul class="topics">
      {% for topic in project.topics %}
        <li>{{ topic }}</li>
      {% endfor %}
      </ul>
    </div>
  </article>
  {% endfor %}
</section>
<section id="contact" class="container">
  <header>
    <h1 class="section-title">Contact me</h1>
  </header>
  <p>If you want to work together, you can reach me via: <span class="highlight">d.apostolovski [at] protonmail.com</span>.</p>
</section>
