---
---
$base-color: #F5F5F5;
$text-color: #1F1F1F;
$link-color: #027BCE;
$secondary-color: #06BCC1;
$embellishment-color: #DB2763;

@import "resets";
@import "fonts";

/* General elements */
html {
  font-size: 16px;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: $base-color;
  color: $text-color;
}

a {
  --color: #{$link-color};
  color: var(--color);
  text-decoration: none;
  position: relative;

  &:visited {
    color: var(--color);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background: var(--color);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

p { margin-bottom: .5em; }

section { scroll-margin-top: 3rem; }

section:not(:last-child) {
  margin-bottom: 2rem;
}

h1 {
  padding-top: 1rem;
}

h2 {
  margin-top: 1em;
  margin-bottom: .6em;
}
/**/

/* Utilities */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.fill { background: $base-color; }

.highlight {
  background-color: $embellishment-color;
  color: $base-color;
}
/**/

.navigation-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .4);
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 1rem;

  li:not(:last-child) { margin-right: 1rem; }
  li:first-child { margin-right: auto; }
}

.main-content {
  min-height: 100vh;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer {
  margin-top: 3rem;
  padding: .5rem 1rem;
  background-color: $text-color;
  color: $base-color;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .cpyr {
    padding-top: 1em;
    text-align: center;
    font-size: .85rem;
  }
}

/* Homepage */
.title-block {
  display: flex;
  flex-flow: column nowrap;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.6)),
              url("../images/james-harrison-vpOeXr5wmR4-unsplash.jpg") center / cover no-repeat local;
  border-bottom: .4rem solid $embellishment-color;
  padding-top: 3rem;

  header {
    flex: 1 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 3rem;
    color: $base-color;
    text-shadow:  -1px -1px 0 $text-color;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: end;
  align-self: flex-end;
  font-size: 2rem;

  li:nth-child(n+2) { margin-left: 1rem; }

  a {
    padding-left: 1em;
    color: inherit;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1em;
  
    &::before { content: unset; }

    &[href*="github"] {
      background-image: url("../images/icons/GitHub-Mark-Light-64px.png");
    }

    &[href*="linkedin"] {
      background-image: url("../images/icons/iconmonstr-linkedin-3-64.png");
    }
  }
}

.section-title {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  gap: 1rem 3rem;
}

.projects-list header{
  grid-column: 1 / -1;
}

.project {
  h1, .info {
    padding: .5rem 1rem;
    padding-top: 1rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  .info hr {
    border: 0;
    background-color: $secondary-color;
    height: 1px;
    margin: .5rem 1rem;
  }

  .cta {
    text-align: right;
  }
}

.topics {
  li {
  display: inline-block;
  color: $secondary-color;
  margin-bottom: .25em;
  }

  li ~ li::before {
    content: ", ";
  }
}


.web-presence {
  li {
    display: inline-block;
  }

  li ~ li {
    margin-left: 3em;
  }
}

@media screen and (max-width:500px) {
  html { font-size: 14px; }

  .title-block h1 { font-size: 3rem; }

  .projects-list { grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
}

@media screen and (min-width:1921px) {
  .title-block {
    position: fixed;
    left: 0;
    top: 0px;
    bottom: 0px;
    width: 33%;
    border-bottom: none;
    border-right: .4rem solid $embellishment-color;
  }

  .main-content.on-homepage {
    margin-left: 33%;
  }
}
