---
---
/* Resets */
* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
/**/

/* Fonts */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}
/**/

/* General elements */
html {
  font-size: 16px;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #F5F5F5;
  color: #1F1F1F;
}

a {
  --color: #027BCE;
  color: var(--color);
  text-decoration: none;
  position: relative;
}

a:visited {
  color: var(--color);
}

a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background: var(--color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

a:hover::before {
  transform: scaleX(1);
}

p { margin-bottom: .5em; }

section { scroll-margin-top: 3rem; }

section:not(:last-child) {
  margin-bottom: 2rem;
}

h2 {
  margin-top: 1em;
  margin-bottom: .6em;
}
/**/

/* Utilities */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.fill { background: #F5F5F5; }

.highlight {
  background-color: #DB2763;
  color: #F5F5F5;
}
/**/

.navigation-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .4);
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 1rem;
}

.top-nav li:not(:last-child) { margin-right: 1rem; }
.top-nav li:first-child { margin-right: auto; }

.main-content {
  min-height: 100vh;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer {
  margin-top: 3rem;
  padding: .5rem 1rem;
  background-color: #1F1F1F;
  color: #F5F5F5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer .cpyr {
  padding-top: 1em;
  text-align: center;
  font-size: .85rem;
}

/* Homepage */
.title-block {
  display: flex;
  flex-flow: column nowrap;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.6)),
              url("../images/james-harrison-vpOeXr5wmR4-unsplash.jpg") center / cover no-repeat local;
  border-bottom: .4rem solid #DB2763;
  padding-top: 3rem;
}

.title-block header {
  flex: 1 0 auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-bottom: 3rem;
  color: #F5F5F5;
  text-shadow:  -1px -1px 0 #1F1F1F;
}

.title-block h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.title-block p {
  margin-bottom: 1rem;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: end;
  align-self: flex-end;
  font-size: 2rem;
}

.social-links li:nth-child(n+2) { margin-left: 1rem; }

.social-links a {
  padding-left: 1em;
  color: inherit;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1em;
}

.social-links a::before { content: unset; }

.social-links a[href*="github"] {
  background-image: url("../images/icons/GitHub-Mark-Light-64px.png");
}

.social-links a[href*="linkedin"] {
  background-image: url("../images/icons/iconmonstr-linkedin-3-64.png");
}

.social-links a[href*="twitter"] {
  background-image: url("../images/icons/iconmonstr-twitter-4-64.png");
}

.section-title {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  gap: 1rem 3rem;
}

.projects-list header{
  grid-column: 1 / -1;
}

.project h1,
.project .info {
  padding: .5rem 1rem;
  padding-top: 1rem;
}

.project h1 {
  font-size: 1.3rem;
}

.project .info hr {
  border: 0;
  background-color: #06BCC1;
  height: 1px;
  margin: .5rem 1rem;
}

.project .topics li {
  display: inline-block;
  color: #06BCC1;
  margin-bottom: .25em;
}

.topics li ~ li::before {
  content: ", ";
}

.web-presence li {
  display: inline-block;
}

.web-presence li ~ li {
  margin-left: 3em;
}

@media screen and (max-width:500px) {
  html { font-size: 14px; }

  .title-block h1 { font-size: 3rem; }

  .projects-list { grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
}

@media screen and (min-width:1921px) {
  .title-block {
    position: fixed;
    left: 0;
    top: 0px;
    bottom: 0px;
    width: 33%;
    border-bottom: none;
    border-right: .4rem solid #DB2763;
  }

  .main-content.on-homepage {
    margin-left: 33%;
  }
}
